body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.High{
  background: #800000;
  color: whitesmoke;
}
.Normal{
  background: #88a39e;
  color: #333;
}
.Low{
  background-color: #fbe8ab;
  color: grey;
}